:root {
    --almostblack: #293241;
    --orange: #ee6c4d;
    --lightblue: #e0fbfc;
    --greyblue: #98c1d9;
    --darkblue: #3d5a80;
    --muddybrown: #c9ada7;
    --greybrown: #9a8c98;
    --greyish: #4a4e69;
    /* syntax: var(--fontcolor)
    var(-- */
}

/* *{
    border: 1px solid red;
} */

#menu::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

#menu::-webkit-scrollbar-track {
    background: darkgray;        /* color of the tracking area */
}

#menu::-webkit-scrollbar-thumb {
    background-color: darkslateblue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid darkslategray;  creates padding around scroll thumb */
}

body {
    background-color: var(--almostblack);
}

h5 {
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin: 2px;
}

button:hover {
    background-color:orangered;
}

.infocus {
    border: 1vh solid #dadada;
    border-radius: 7px;
}

.infocus:hover { 
    outline: none;
    border-color: #9ecaed;
}

div.dead {
    display: none !important;
}

button {
    display: flex;
    justify-content: center;

}

#overallbackground {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
}

/* !overall interface of website */
    #menu {
        width: 15%;
        margin: 30px 10px 60px 10px;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: scroll;
        background-color: var(--greyblue);
        border: 3px solid var(--orange);
        border-radius: 1%;
    }
    #maininterface {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        width: 70%;
        margin: 10px;
        border: 5px solid var(--darkblue);
        padding: 5px;
        background-color: var(--greyish);
    }
    #turnorder {
        width: 15%;
        margin: 80px 10px 80px 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--greyblue);
        border: 3px solid var(--orange);
        border-radius: 1%;
    }
        .turnordercontainer {
            height: 95%;
            display: flex;
            flex-direction: column;
        }
            .currentturndisplay {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 3px 0 3px 0;
                background-color: orangered;
            }
            .followingturndisplay {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 3px 0 3px 0;
                background-color: steelblue;
            }

/* !game interface */
#background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
    div.characters {
        height: 30%;
        width: 95%;
        background-color: var(--muddybrown);
        border: 3px solid var(--orange);
    }

    #playercontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        border-top: none;
    }
        .playermodel {
            height:80%;
            width: 20%;
            /* background-color: royalblue; */
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
            #warrior {order:2}
            #mage {order:3}
            #thief {order:1}
    
    #enemycontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start; 
        border-bottom: none;
        border-top: none;
    }
        .enemymodel {
            height:80%;
            width: 20%;
            /* background-color: orangered; */
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
            #enemy1{order:2}
            #enemy2{order:3}
            #enemy3{order:1}

    #enemyHPcontainer {
        height: 20px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        border-bottom: none;
    }
        .healthbarbg {
            background-color: darkgray;
            width: 20%;
            height: 90%;
            position: relative;
        }
        .healthbarfg {
            background-color: crimson;
            width: 100%;
            height: 90%;
            position: relative;
        }
    #arrowcontainer {
        height: 20px;
        background-color: var(--greyblue);
        border-top: none;
        border-bottom: none;
    }
/* !User Interface stuff */

        #uicontainer {
            display: flex;
            height: 30vh;
            border: 3px solid var(--orange);
            background-color: var(--greyish);
            
        }
        .uimenu {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 95%;
            justify-content: space-around;
            background-color: var(--greyish);
        }
            #uicommands {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
                .uibuttons {
                    width: 40%;
                    height: 40%;
                    text-align: center;
                }
            .partymemberdiv {
                height:30%;
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 3px solid var(--greyish);
                background-color: var(--greybrown);
            }
            .playerportrait {
                width: 8vh;
                height: 8vh;
                background-color: indigo;
            }
            .playerhpbar {
                width: 15vh;
            }
                .playerhealthbarbg {
                    height: 5vh;
                    background-color: darkgray;
                    display: flex;
                }
                .playerhealthbarfg {
                    background-color: crimson;
                }
            .playermpbar {
                width: 15vh;
            }
                .playermanabarbg {
                    height: 5vh;
                    background-color: darkgray;
                    display: flex;
                }
                .playermanabarfg {
                    background-color: steelblue;
                }
            #uicommands {
                width: 30%;
                position: relative;
            }
            #uiplayerinfo {
                width: 70%;
                position: relative;
            }



/*! SPRITESHEET INFO */
.Goblin {
    pointer-events: none;
    background: url('./images/spritesheet.png') no-repeat -409px -23px;
	width: 44px;
	height: 60px;
}
.Goblinportrait {
    pointer-events: none;
    background: url('./images/spritesheet.png') no-repeat -407px -133px;
	width: 38px;
	height: 37px;
}
.Slime {
    pointer-events: none;
    background: url('./images/spritesheet.png') no-repeat -573px -31px;
    width: 39px;
    height: 30px;
}
.Slimeportrait {
    background: url('./images/spritesheet.png') no-repeat -507px -139px;
	width: 39px;
	height: 32px;
}

.thief {
    pointer-events: none;
    background: url('./images/spritesheet.png') no-repeat -237px -18px;
	width: 46px;
	height: 89px;
}
.Hoodportrait {
    background: url('./images/spritesheet.png') no-repeat -239px -126px;
	width: 45px;
	height: 46px;
}
#Hoodportrait {
    background: url('./images/spritesheet.png') no-repeat -239px -126px;
	width: 45px;
	height: 46px;
    background-color:silver;
}
.mage {
    pointer-events: none;
    background: url('./images/spritesheet.png') no-repeat -129px -5px;
	width: 76px;
	height: 110px;
}
.Rizportrait {
    background: url('./images/spritesheet.png') no-repeat -140px -127px;
	width: 46px;
	height: 46px;
}
#Rizportrait {
    background: url('./images/spritesheet.png') no-repeat -140px -127px;
	width: 46px;
	height: 46px;
    background-color:silver;
}

.warrior {
    pointer-events: none;
    background: url('./images/spritesheet.png') no-repeat -29px -11px;
	width: 60px;
	height: 82px;
}
.Jargoportrait {
    background: url('./images/spritesheet.png') no-repeat -34px -127px;
	width: 49px;
	height: 47px;
}
#Jargoportrait {
    background: url('./images/spritesheet.png') no-repeat -34px -127px;
	width: 49px;
	height: 47px;
    background-color:silver;
}