*{
    border: 1px solid red;
}

button:hover {
    background-color:orangered;
}

.infocus {
    border: 1vh solid #dadada;
    border-radius: 7px;
}

.infocus:hover { 
    outline: none;
    border-color: #9ecaed;
}

div.dead {
    display: none !important;
}

button {
    display: flex;
    justify-content: center;

}

#overallbackground {
    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid green;
    height: 700px;
}

/* !overall interface of website */
    #menu {
        width: 15%;
        margin: 30px 10px 60px 10px;
        background-color: cadetblue;
    }
    #maininterface {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        width: 70%;
        margin: 10px;
        border: 5px solid blueviolet;
        padding: 5px;
    }
    #turnorder {
        width: 15%;
        margin: 80px 10px 80px 10px;
        background-color: cadetblue;
    }

/* !game interface */
#background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
    div.characters {
        height: 30%;
        width: 95%;
        background-color: lightblue;
    }

    #playercontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
        .playermodel {
            height:80%;
            width: 20%;
            background-color: royalblue;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
        }
            #warrior {order:2}
            #mage {order:3}
            #thief {order:1}
    
    #enemycontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start; 
    }
        .enemymodel {
            height:80%;
            width: 20%;
            background-color: orangered;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
        }
            #enemy1{order:2}
            #enemy2{order:3}
            #enemy3{order:1}

    #enemyHPcontainer {
        height: 20px;
        background-color: white;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
        .healthbarbg {
            background-color: darkgray;
            width: 20%;
            height: 90%;
            position: relative;
        }
        .healthbarfg {
            background-color: crimson;
            width: 100%;
            height: 90%;
            position: relative;
        }
    #arrowcontainer {
        height: 20px;
        background-color: gainsboro;
    }
/* !User Interface stuff */

        #uicontainer {
            display: flex;
            height: 30vh;
            border: 5px solid cadetblue;
            background-color: gainsboro;
            
        }
        .uimenu {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 95%;
            justify-content: space-around;
        }
            #uicommands {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
                .uibuttons {
                    width: 40%;
                    height: 40%;
                    text-align: center;
                }
            .partymemberdiv {
                height:31%;
                display: flex;
                flex-direction: row;
            }
            .playerportrait {
                width: 6vh;
                height: 6vh;
                background-color: indigo;
            }
            #uicommands {
                width: 30%;
                position: relative;
                background-color: whitesmoke;
            }
            #uiplayerinfo {
                width: 70%;
                position: relative;
                background-color: whitesmoke;
            }
